name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    # هذه الخطوة ستقوم بتثبيت Gradle Wrapper بإصدار مستقر متوافق (8.5)
    - name: Setup Gradle
      run: gradle wrapper --gradle-version 8.5

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    # الآن نستخدم gradlew الذي قمنا بتوليده لضمان التوافق
    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Aite-release
        path: app/build/outputs/apk/release/app-release-unsigned.apk
